:root {
    --font-family: 'Inter', sans-serif;
    --primary-color: #5dbeff;
    --background-color: #1D1E2C;
    --secondary-color: #2F3048;
    --planet1-color: #FFED65;
    --planet2-color: #ff6d6d;
    --planet3-color: #6f88f7;
    --star1-color: #b7cecb;
    --star2-color: #ff6d6d;
    --star3-color: #FFED65;
    --inset1-color: #a09330;
    --inset2-color: #cc4f4f;
    --inset3-color: #273679;
    --cursor-color: #D7F9FF;
    --nav-row-gap: 12em;
    --nav-header-size: 1.5em;
    --h1-font-size: 7em;
    --h2-font-size: 5em;
    --h3-font-size: 2em;
    --h4-font-size: 1.5em;
    --btn-font-size: 1.5em;
    --p-font-size: 1.2em;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: var(--font-family);
    color: var(--primary-color);
    background: linear-gradient(var(--background-color), var(--secondary-color));
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
}

/* Main */
section {
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
    scroll-snap-align: start;
}

.shooting-stars {
    position: relative;
}


.shooting-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(40deg);
}

.scroll-btn {
    position: absolute;
    top: 80%;
    left: 8%;
    opacity: 1;
}

.down {
    display: block;
    width: 30px;
    height: 30px;
    z-index: 10;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
}

.navigation {
    position: absolute;
    bottom: 30px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 4;
    transition: 0.5s ease;
}

.list:hover {
    opacity: 0.3;
}

a span {
    opacity: 0;
}

.list.active {
    width: 30px;
}

a.hidden {
    opacity: 0;
    pointer-events: none; /* Disables click events when the link is hidden */
    /* other styles... */
}

a.show {
    opacity: 1;
    pointer-events: auto; /* Enables click events when the link is shown */
    /* other styles... */
}


/* Header & Socials*/
ul {
    list-style: none;
}

.brand.hidden {
    position: absolute;
    display: flex;
    top: 7vh;
    left: -50vh;
    color: var(--primary-color);
    font: bold var(--nav-header-size)/1 sans-serif;
    text-decoration: none;
    padding: 10px;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.4s ease;
}

.brand.show {
    opacity: 1;
    transform: translateX(0);
}

.nav.hidden {
    position: absolute;
    display: flex;
    z-index: 5;
    top: 3%;
    left: 28%;
    gap: var(--nav-row-gap);
    padding: 1em;
    opacity: 1;
}

.nav-list.hidden {
    position: absolute;
    display: flex;
    gap: var(--nav-row-gap);
    padding: 1em;
}

.nav-items.hidden {
    position: absolute;
    display: flex;
    z-index: 5;
    color: var(--primary-color);
    font: bold var(--nav-header-size)/1 sans-serif;
    text-decoration: none;
    padding: 10px;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.4s ease;
}

.nav-items.show {
    opacity: 1;
    transform: translateX(0);
}

.nav-items:hover {
    color: var(--cursor-color);
}

.nav-items:hover::before,
.nav-items:hover::after {
    content: '';
    position: absolute;
    padding: 0.3em; 
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-color: var(--cursor-color);
    animation: corner-back 0.5s ease-in-out forwards;
    transition: width 0.5s ease;
}

.nav-items:hover::before {
    border-width: 4px 0 0 4px;
    top: 0;
    left: 0;
}

.nav-items:hover::after {
    border-width: 0 4px 4px 0;
    bottom: 0;
    right: 0;
}

.socials.hidden {
    position: absolute;
    display: flex;
    cursor: pointer;
    font-size: 2em;
    z-index: 5;
    top: 90%;
    left: 93%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease;
}

.socials.show {
    opacity: 1;
    transform: translateX(0);
}

.social-list.hidden {
    position: absolute;
    display: flex;
    z-index: 5;
    flex-direction: column;
    gap: 2.5em;
    font-size: 1.5em;
    top: 50%;
    left: 89.9%;
}

.social-items.hidden {
    position: absolute;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    z-index: 5;
    padding: 10px;
    opacity: 0;
    transform: translateY(10%);
    transition: 0.4s ease;
}

.social-items.show:hover {
    opacity: 0.3;
}

.social-items.show {
    opacity: 1;
    transform: translateY(0);
}

.menu-bar.hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 4;
    top: 10%;
    left: 93%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease;
}

.menu-bar.show {
    opacity: 1;
    transform: translateX(0);
}

.bar.hidden {
    width: 30px;
    height: 5px;
    background-color: var(--cursor-color);
    margin: 4px 0;
    border-radius: 5px;
    transition: 0.4s ease;
}

.menu-bar.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(0px, 6px);
}

.menu-bar.open .bar:nth-child(2) {
    transform: translateX(-50%);
}

.menu-bar.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(0px, -6px);
}

.planet1.show{
    opacity: 1;    
    transform: translateY(0);
}

.planet2.show{
    opacity: 1;    
    transform: translateX(0);
}

.planet3.show{
    opacity: 1;    
    transform: translateY(0);
}

.black-hole.show{
    opacity: 1;    
    transform: translateY(0);
}

.planet1 {
    background-color: var(--planet1-color);
    width: 45em;
    height: 45em;
    top: 60%;
    left: 25%;
    box-shadow: 0 0 20px var(--planet1-color),
                0 0 60px var(--planet1-color),
                0 0 100px var(--planet1-color);
    opacity: 0;    
    transform: translateY(100%);
    transition: 0.7s ease;
}

.planet2 {
    background-color: var(--planet2-color);
    width: 45em;
    height: 45em;
    top: 20%;
    left: 60%;
    box-shadow: 0 0 20px var(--planet2-color),
                0 0 60px var(--planet2-color),
                0 0 100px var(--planet2-color);
    opacity: 0;
    transform: translateX(100%);
    transition: 0.7s ease;
}

.planet3 {
    background-color: var(--planet3-color);
    width: 30em;
    height: 30em;
    top: 45%;
    left: -10%;
    z-index: 1;
    box-shadow: 0 0 20px var(--planet3-color),
                0 0 60px var(--planet3-color),
                0 0 100px var(--planet3-color);
    opacity: 0;    
    transform: translateY(100%);
    transition: 0.7s ease;
}

.black-hole {
    background-color: #000000; /* Black color */
    width: 60em;
    height: 60em;
    top: -90%;
    left: 20%;
    box-shadow: 0 0 20px #57206d,
                0 0 60px #57206d,
                0 0 100px #57206d;
    opacity: 0;    
    transform: translateY(-50%);
    transition: 1s ease;
}

.planet1 {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.planet2 {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.planet3 {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.black-hole {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.planet1::before,
.planet2::before,
.planet3::before,
.black-hole::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.planet1::before {
    width: 45em;
    height: 45em;
    box-shadow: 1px 1px 1px 1px var(--inset1-color),
                inset 30px 30px 30px 10px var(--inset1-color),
                inset 100px 30px 100px 10px var(--inset1-color);
}

.planet2::before {
    width: 45em;
    height: 45em;
    box-shadow: 1px 1px 1px 1px var(--inset2-color),
                inset -100px -100px 60px 10px var(--inset2-color),
                inset -400px -100px 120px 10px var(--inset2-color);
}

.planet3::before {
    width: 30em;
    height: 30em;
    box-shadow: 1px 1px 1px 1px var(--inset3-color), /* A slightly lighter shade for inner shadow */
                inset -30px -10px 50px 10px var(--inset3-color),
                inset -80px -10px 100px 10px var(--inset3-color);
}

.black-hole::before {
    width: 60em;
    height: 60em;
    box-shadow: 1px 1px 1px 1px #57206d, /* A slightly lighter shade for inner shadow */
                inset -30px -10px 50px 10px #57206d,
                inset -80px -10px 100px 10px #57206d;
}


/* Home Section */
.name.hidden,
.portfolio.hidden,
.status.hidden,
.student.hidden {
    position: absolute;
    display: flex;
}

.name.hidden {
    font-size: var(--h1-font-size);
    top: 15%;
    left: 20%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.name.show {
    opacity: 1;
    transform: translateX(0);
}

.portfolio.hidden {
    font-size: var(--h2-font-size);
    top: 35%;
    left: 55%;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.5s ease;
}

.portfolio.show {
    opacity: 1;
    transform: translateX(0);
}

.status.hidden {
    font-size: var(--h4-font-size);
    color: var(--cursor-color);
    top: 42%;
    left: 36%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.status.show {
    opacity: 1;
    transform: translateX(0);
}

.student.hidden {
    font-size: var(--h4-font-size);
    color: var(--cursor-color);
    top: 42%;
    left: 45%;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.5s ease;
}

.student.show {
    opacity: 1;
    transform: translateX(0);
}

/* About Section */
.about-title.hidden {
    position: absolute;
    color: var(--cursor-color);
    font-size: var(--h2-font-size);
    top: 15%;
    left: -14%;
    opacity: 0;
    transform: translateX(0);
    transition: 0.8s;
}

.about-title.show {
    opacity: 1;
    transform: translateX(100%);
}

.intro-p.hidden {
    position: absolute;
    font-size: var(--p-font-size);
    color: var(--cursor-color);
    top: 40%;
    left: -27.5%;
    line-height: 2;
    word-wrap: break-word;
    white-space: normal;
    opacity: 0;
    transform: translateX(0);
    transition: 1.3s;
}

.intro-p.show {
    opacity: 1;
    transform: translateX(100%);
}

.bold.hidden {
    color: var(--primary-color);
}

.btn-container.hidden {
    position: absolute;
    top: 85%;
    left: 25%;
    z-index: 3;
    opacity: 0;
    transform: translateY(0);
    transition: 0.5s;
}

.btn-container.show {
    opacity: 1;
    transform: translateY(-100%);
}

.btn-container.show:hover {
    transform: translateY(calc(-100% - 6px)); /* Move up by 4 pixels on hover */
}

.btn.hidden {
    text-decoration: none;
    display: inline-block;
    font-size: var(--btn-font-size);
    line-height: 1;
    font-weight: bold;
    color: var(--cursor-color);
    background: var(--primary-color);
    border-radius: 50px;
    padding: 15px 28px;
}


/* Project Section */
.project-title.hidden {
    position: absolute;
    top: 10%;
    left: -18%;
    font-size: var(--h2-font-size);
    color:  #fff;
    opacity: 0;
    transform: translateX(0);
    transition: 0.8s;
    z-index: 6;
}

.project-title.show {
    opacity: 1;
    transform: translateX(100%);
}

.wrapper.hidden {
    top: 20%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 14px;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateX(120%);
    transition: 0.7s ease;
}

.wrapper.show {
    opacity: 1;
    transform: translateX(0);
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    transition: transform 0.3s ease-in-out;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .card {
    scroll-snap-align: start;
    background: var(--background-color);
    color: var(--cursor-color);
    border-radius: 14px;
    padding-bottom: 15px;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-2%);
}

.card {
    border-radius: 14px;
}

.card .img img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 15px 0 5px;
}

.card span {
    color: var(--cursor-color);
    font-size: 1.31rem;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    color: var(--secondary-color);
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.wrapper i:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.wrapper i:first-child {
    left: -30px;
}

.wrapper i:last-child {
    right: -30px;
}

/* Contact Section */
.contact-title.hidden {
    position: absolute;
    top: 15%;
    color: var(--cursor-color);
    font-size: var(--h1-font-size);
    opacity: 0;
    transform: translateY(-300px);
    transition: 0.7s ease;
}

.contact-title.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-container.hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    top: 55%;
    left: 32%;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(300px);
    transition: 0.7s ease;
}

.contact-container.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-container.hidden > a {
    color: var(--cursor-color);
    text-decoration: none;
    cursor: pointer;
}

.contact-list.hidden {
    display: flex;
    gap: 4em;
    flex-direction: row;
    cursor: pointer;
}

/* Keyframes */ 
@keyframes corner-back {
    from {
        width: 0.5em;
        height: 0.5em;
    }
    to {
        width: 0em;
        height: 0em;
    }
}

@keyframes trail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
}

@keyframes fall {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
}

@keyframes effect {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
}

/* Responsiveness */


/* Home Responsiveness */


/* About Responsiveness */


/* Project Responsiveness */
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/* Contact Responsiveness */

