:root {
    --font-family: 'Inter', sans-serif;
    --primary-color: #5dbeff;
    --background-color: #1D1E2C;
    --secondary-color: #2F3048;
    --planet1-color: #FFED65;
    --planet2-color: #ff6d6d;
    --planet3-color: #536acf;
    --star1-color: #b7cecb;
    --star2-color: #ff6d6d;
    --star3-color: #FFED65;
    --inset1-color: #726821;
    --inset2-color: #c03a3a;
    --inset3-color: #060e31;
    --cursor-color: #D7F9FF;
    --nav-row-gap: 12em;
    --nav-header-size: 1.5em;
    --h1-font-size: 7em;
    --h2-font-size: 5em;
    --h3-font-size: 2em;
    --h4-font-size: 1.5em;
    --btn-font-size: 1.5em;
    --p-font-size: 1.2em;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: var(--font-family);
    color: var(--primary-color);
    background: var(--background-color);
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
}

section {
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
    scroll-snap-align: start;
}

.shooting-stars {
    position: relative;
}


.shooting-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(40deg);
}

.scroll-btn {
    position: absolute;
    top: 90%;
    left: 3%;
    z-index: 10;
    animation: down 2s infinite ease;
}

.down {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
}

.navigation {
    position: absolute;
    z-index: 8;
    bottom: 30px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 4;
    transition: 0.5s ease;
}

.list:hover {
    opacity: 0.3;
}

a span {
    opacity: 0;
}

.list.active {
    width: 30px;
}

a.hidden {
    opacity: 0;
    pointer-events: none;
}

a.show {
    opacity: 1;
    pointer-events: auto;
}

ul {
    list-style: none;
}

.brand.hidden {
    position: absolute;
    display: flex;
    top: 5vh;
    left: -60vh;
    color: var(--primary-color);
    font: bold var(--nav-header-size)/1 sans-serif;
    text-decoration: none;
    padding: 10px;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.4s ease;
}

.brand.show {
    opacity: 1;
    transform: translateX(0);
}

.brand.show:hover {
    opacity: 0.6;
    transform: translateY(-3px);
}

.nav.hidden {
    position: absolute;
    display: flex;
    z-index: 5;
    min-width: 100vw;
    bottom: 94.5vh;
    left: 28%;
    gap: var(--nav-row-gap);
    padding: 1em;
    margin: 2em;
    opacity: 1;
}

.nav-list.hidden {
    position: absolute;
    display: flex;
    gap: var(--nav-row-gap);
    padding: 1em;
}

.nav-items.hidden {
    position: absolute;
    display: flex;
    z-index: 5;
    color: var(--primary-color);
    font: bold var(--nav-header-size)/1 sans-serif;
    text-decoration: none;
    padding: 10px;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.4s ease;
}

.nav-items.show {
    opacity: 1;
    transform: translateX(0);
}

.nav-items:hover {
    color: var(--cursor-color);
}

.nav-items:hover::before,
.nav-items:hover::after {
    content: '';
    position: absolute;
    padding: 0.3em; 
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-color: var(--cursor-color);
    animation: corner-back 0.5s ease-in-out forwards;
    transition: width 0.5s ease;
}

.nav-items:hover::before {
    border-width: 4px 0 0 4px;
    top: 0;
    left: 0;
}

.nav-items:hover::after {
    border-width: 0 4px 4px 0;
    bottom: 0;
    right: 0;
}

.socials.hidden {
    position: absolute;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 8;
    top: 90%;
    left: 95.5%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease;
}

.socials.show {
    opacity: 1;
    transform: translateX(0);
}

.social-list.hidden {
    position: absolute;
    display: flex;
    z-index: 8;
    flex-direction: column;
    gap: 2.5em;
    font-size: 1.5em;
    top: 50%;
    left: 93.2%;
}

.social-items.hidden {
    position: absolute;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    z-index: 5;
    padding: 10px;
    opacity: 0;
    transform: translateY(10%);
    transition: 0.4s ease;
}

.social-items.show:hover {
    opacity: 0.3;
}

.social-items.show {
    opacity: 1;
    transform: translateY(0);
}

.menu-bar.hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 5;
    top: 4%;
    left: 96%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease;
}

.menu-bar.show {
    opacity: 1;
    transform: translateX(0);
}

.bar.hidden {
    width: 30px;
    height: 5px;
    background-color: var(--cursor-color);
    margin: 4px 0;
    border-radius: 5px;
    transition: 0.4s ease;
}

.menu-bar.hidden.show:hover {
    opacity: 0.6;
    transform: translateY(-3px);
}

.menu-bar.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(0px, 6px);
}

.menu-bar.open .bar:nth-child(2) {
    transform: translateX(-50%);
}

.menu-bar.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(0px, -6px);
}

.planet1.show{
    opacity: 1;    
    transform: translateY(0);
}

.planet2.show{
    opacity: 1;    
    transform: translateX(0);
}

.planet3.show{
    opacity: 1;    
    transform: translateY(0);
}

.black-hole.show{
    opacity: 1;    
    transform: translateY(0);
}

.planet1 {
    background-color: var(--planet1-color);
    width: 55rem;
    height: 55rem;
    top: 60%;
    left: 25%;
    box-shadow: 0 0 20px var(--planet1-color),
                0 0 60px var(--planet1-color),
                0 0 100px var(--planet1-color);
    opacity: 0;    
    transform: translateY(100%);
    transition: 0.7s 0.3s ease;
}

.planet2 {
    background-color: var(--planet2-color);
    width: 55rem;
    height: 55rem;
    top: 20%;
    left: 60%;
    z-index: 5;
    box-shadow: 0 0 20px var(--planet2-color),
                0 0 60px var(--planet2-color),
                0 0 100px var(--planet2-color);
    opacity: 0;
    transform: translateX(100%);
    transition: 0.7s 0.2s ease;
}

.planet3 {
    background-color: var(--planet3-color);
    width: 45rem;
    height: 45rem;
    top: 45%;
    left: -10%;
    z-index: 1;
    box-shadow: 0 0 20px var(--planet3-color),
                0 0 60px var(--planet3-color),
                0 0 100px var(--planet3-color);
    opacity: 0;    
    transform: translateY(100%);
    transition: 0.7s 0.3s ease;
}

.black-hole {
    background-color: #000000; /* Black color */
    width: 70rem;
    height: 70rem;
    bottom: 60%;
    left: 20%;
    box-shadow: 0 0 20px #57206d,
                0 0 60px #57206d,
                0 0 100px #57206d;
    opacity: 0;    
    transform: translateY(-50%);
    transition: 1s 0.4s ease;
}

.planet1 {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.planet2 {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.planet3 {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.black-hole {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.planet1::before,
.planet2::before,
.planet3::before,
.black-hole::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.planet1::before {
    width: 55rem;
    height: 55rem;
    box-shadow: 1px 1px 1px 1px var(--inset1-color),
                inset 30px 30px 30px 10px var(--inset1-color),
                inset 100px 30px 100px 10px var(--inset1-color);
}

.planet2::before {
    width: 55rem;
    height: 55rem;
    box-shadow: 1px 1px 1px 1px var(--inset2-color),
                inset -100px -100px 60px 10px var(--inset2-color),
                inset -400px -100px 120px 10px var(--inset2-color);
}

.planet3::before {
    width: 45rem;
    height: 45rem;
    box-shadow: 1px 1px 1px 1px var(--inset3-color),
                inset -30px -10px 50px 10px var(--inset3-color),
                inset -80px -10px 100px 10px var(--inset3-color);
}

.black-hole::before {
    width: 70rem;
    height: 70rem;
    box-shadow: 1px 1px 1px 1px #57206d,
                inset -30px -10px 50px 10px #57206d,
                inset -80px -10px 100px 10px #57206d;
}


/* Home Section */
.name.hidden,
.portfolio.hidden,
.status.hidden,
.student.hidden {
    position: absolute;
    display: flex;
}

.name.hidden {
    font-size: var(--h1-font-size);
    top: 21%;
    left: 30%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.name.show {
    opacity: 1;
    transform: translateX(0);
}

.portfolio.hidden {
    font-size: var(--h2-font-size);
    top: 37%;
    left: 45%;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.5s ease;
}

.portfolio.show {
    opacity: 1;
    transform: translateX(0);
}

.status.hidden {
    font-size: var(--h4-font-size);
    color: var(--cursor-color);
    top: 42%;
    left: 36%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.5s 0.4s ease;
}

.status.show {
    opacity: 1;
    transform: translateX(0);
}

.student.hidden {
    font-size: var(--h4-font-size);
    color: var(--cursor-color);
    top: 42%;
    left: 43%;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.5s 0.4s ease;
}

.student.show {
    opacity: 1;
    transform: translateX(0);
}

/* About Section */
.who-wrapper.hidden {
    position: absolute;
    right: 95%;
    top: 35%;
    width: 800px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: 0.8s;
}

.who-wrapper.show {
    opacity: 1;
    transform: translateX(100%);
}

.who-wrapper .text {
    position: relative;
    font-size: 50px;
    font-weight: 600;
}

.who-wrapper .text.text2 {
    color: var(--cursor-color);
    margin-left: 15px;
}

.text.text2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border-left: 2px solid var(--cursor-color);
    animation: type 4s steps(20) infinite;
}

.about-wrapper.hidden {
    position: absolute;
    right: 95%;
    top: 45%;
    width: 1200px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: 1.2s 0.2s;
}

.about-wrapper.show {
    opacity: 1;
    transform: translateX(100%);
}

.about-wrapper .text {
    position: relative;
    font-size: 40px;
    font-weight: 600;
}

.about-wrapper .text.text4 {
    color: var(--cursor-color);
    margin-left: 15px;
}

.text.text4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border-left: 2px solid var(--cursor-color);
    animation: downType 4s steps(25) infinite;
}

/* Project Section */
.project-title.hidden {
    position: absolute;
    top: 10%;
    right: 90%;
    font-size: var(--h2-font-size);
    color:  var(--primary-color);
    opacity: 0;
    transform: translateX(0);
    transition: 0.8s 0.2s;
    z-index: 6;
}

.project-title.show {
    opacity: 1;
    transform: translateX(100%);
}

.wrapper.hidden {
    top: 30%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
    max-width: 1200px;
    width: 100%;
    background: var(--secondary-color);
    position: absolute;
    z-index: 1;
    border-radius: 14px;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateX(120%);
    transition: 0.8s 0.3s ease;
}

.wrapper.show {
    opacity: 1;
    transform: translateX(0);
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    transition: transform 0.3s ease-in-out;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .card {
    scroll-snap-align: start;
    background:   var(--background-color);
    color: var(--cursor-color);
    border-radius: 14px;
    padding-bottom: 15px;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-2%);
}

.card {
    border-radius: 14px;
}

.card .img img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 15px 0 5px;
}

.card span {
    color: var(--cursor-color);
    font-size: 1.31rem;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    color: var(--secondary-color);
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.wrapper i:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.wrapper i:first-child {
    left: -30px;
}

.wrapper i:last-child {
    right: -30px;
}

/* Contact Section */
.contact-title.hidden {
    position: absolute;
    top: 25%;
    color: var(--cursor-color);
    font-size: var(--h1-font-size);
    opacity: 0;
    transform: translateY(-300px);
    transition: 0.7s 0.3s ease;
}

.contact-title.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-container.hidden {
    position: absolute;
    display: flex;
    z-index: 5;
    top: 65%;
    left: 35%;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(300px);
    transition: 0.7s 0.2s ease;
}

.contact-container.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-container.hidden > a {
    color: var(--cursor-color);
    cursor: pointer;
}

.gmail.hidden {
    position: absolute;
    top: 60%;
    left: 43%;
    text-decoration: none;
    color: var(--cursor-color);
    font-size: var(--h3-font-size);
    opacity: 0;
    transform: translateY(-300px);
    transition: 0.7s 0.2s ease;
}

.gmail.show {
    opacity: 1;
    transform: translateY(0);
}

.gmail.show:hover {
    opacity: 0.6;
    transform: translateY(-5px);
}

.contact-items.hidden {
    opacity: 0;
    transform: translateY(-300px);
    transition: 0.4s 0.2s ease;
}

.contact-items.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-items.show:hover {
    opacity: 0.6;    
}

.contact-list.hidden {
    display: flex;
    gap: 4em;
}

/* Keyframes */ 
@keyframes corner-back {
    from {
        width: 0.5em;
        height: 0.5em;
    }
    to {
        width: 0em;
        height: 0em;
    }
}

@keyframes trail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
}

@keyframes fall {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
}

@keyframes effect {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
}

@keyframes down {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes type {
    40%, 60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

@keyframes downType {
    40%, 60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

@media screen and (max-width: 1536px) {
    .scroll-btn {
        top: 80%;
        left: 6%;
    }

    .down {
        width: 30px;
        height: 30px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .brand.hidden {
        top: 15%;
        left: -23%;
    }

    .socials.hidden {
        font-size: 2em;
        top: 83%;
        left: 92%;
    }

    .social-list.hidden {
        gap: 2em;
        font-size: 1.5em;
        top: 48%;
        left: 88.5%;
    }

    .planet1 {
        width: 50em;
        height: 50em;
        top: 60%;
        left: 24%;
    }

    .planet2 {
        width: 45em;
        height: 45em;
        top: 20%;
        left: 60%;
    }

    .planet3 {
        width: 35em;
        height: 35em;
        top: 45%;
        left: -10%;
    }

    .black-hole {
        width: 60em;
        height: 60em;
        top: -100%;
        left: 20%;
    }

    .planet1::before {
        width: 50em;
        height: 50em;
    }

    .planet2::before {
        width: 45em;
        height: 45em;
    }

    .planet3::before {
        width: 35em;
        height: 35em;
    }

    .black-hole::before {
        width: 60em;
        height: 60em;
    }

    .menu-bar.hidden {
        top: 8.5%;
        left: 92%;
    }
    
    .bar.hidden {
        width: 30px;
        height: 5px;
    }

    .nav.hidden {
        top: 2%;
    }

    .nav-list.hidden {
        top: -80%;
        left: 0%;
        font-size: 1em;
        gap: 10em;
    }
            
    .name.hidden {
        top: 10%;
        left: 25%;
    }

    .portfolio.hidden {
        top: 30%;
        left: 50%;
    }

    .status.hidden {
        font-size: 1.5em;
        top: 38%;
        left: 36%;
    }

    .student.hidden {
        font-size: 1.5em;
        top: 38%;
        left: 45%;
    }

    .who-wrapper.hidden {
        left: -40%;
        top: 35%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 50px;
        font-weight: 600;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 15px;
    }
    
    .text.text2::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    .about-wrapper.hidden {
        left: -71%;
        top: 55%;
        width: 1200px;
    }
    
    .about-wrapper .text {
        font-size: 40px;
        font-weight: 600;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 15px;
    }
    
    .text.text4::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    .project-title.hidden {
        top: 8%;
        left: -17%;
        font-size: 5em;
    }

    .wrapper.hidden {
        top: 22%;
        left: 17%;
        padding: 10px 35px;
        width: 80%;
        height: 55%;
        border-radius: 14px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: calc((100% / 3.5) - 12px);
        gap: 22px;
    }

    .carousel .card {
        padding-bottom: 14px;
    }

    .card .img img {
        width: 17vw;
        height: 37vh;
        border-radius: 14px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.56rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1.31em;
    }

    .wrapper i {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }

    .wrapper i:first-child {
        left: -25px;
    }

    .wrapper i:last-child {
        right: -25px;
    }

    .contact-title.hidden {
        top: 8%;
        font-size: 7em;
    }

    .contact-container.hidden {
        top: 65%;
        left: 32%;
        font-size: 2em;
    }
    
    .gmail.hidden {
        top: 55%;
        left: 41%;
        font-size: 2em;
    }
    
    .contact-list.hidden {
        gap: 4em;
    }
}

@media screen and (max-width: 1280px) {
    .scroll-btn {
        top: 80%;
        left: 8%;
    }

    .down {
        width: 30px;
        height: 30px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .brand.hidden {
        top: 15%;
        left: -23%;
    }

    .socials.hidden {
        font-size: 2em;
        top: 83%;
        left: 92%;
    }

    .social-list.hidden {
        gap: 2em;
        font-size: 1.5em;
        top: 48%;
        left: 88%;
    }

    .planet1 {
        width: 45em;
        height: 45em;
        top: 60%;
        left: 22%;
    }

    .planet2 {
        width: 45em;
        height: 45em;
        top: 20%;
        left: 60%;
    }

    .planet3 {
        width: 30em;
        height: 30em;
        top: 45%;
        left: -10%;
    }

    .black-hole {
        width: 60em;
        height: 60em;
        top: -100%;
        left: 15%;
    }

    .planet1::before {
        width: 45em;
        height: 45em;
    }

    .planet2::before {
        width: 45em;
        height: 45em;
    }

    .planet3::before {
        width: 30em;
        height: 30em;
    }

    .black-hole::before {
        width: 60em;
        height: 60em;
    }

    .menu-bar.hidden {
        top: 8.5%;
        left: 92%;
    }
    
    .bar.hidden {
        width: 30px;
        height: 5px;
    }

    .nav.hidden {
        top: 2%;
    }

    .nav-list.hidden {
        top: -80%;
        left: 0%;
        font-size: 1em;
        gap: 10em;
    }
            
    .name.hidden {
        top: 10%;
        left: 15%;
    }

    .portfolio.hidden {
        top: 30%;
        left: 45%;
    }

    .status.hidden {
        font-size: 1.5em;
        top: 38%;
        left: 29%;
    }

    .student.hidden {
        font-size: 1.5em;
        top: 38%;
        left: 40%;
    }

    .who-wrapper.hidden {
        left: -90vh;
        top: 25%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 3px;
    }

    .about-wrapper.hidden {
        left: -109vh;
        top: 45%;
        width: 800px;
    }
    
    .about-wrapper .text {
        font-size: 2.2em;
        font-weight: 600;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 1px;
    }
    
    .project-title.hidden {
        top: 8%;
        left: -21%;
        font-size: 5em;
    }

    .wrapper.hidden {
        top: 22%;
        left: 13%;
        padding: 10px 35px;
        width: 70%;
        height: 55%;
        border-radius: 14px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: calc((100% / 3) - 12px);
        gap: 22px;
    }

    .carousel .card {
        padding-bottom: 14px;
    }

    .card .img img {
        width: 21.2vw;
        height:  37vh;
        border-radius: 14px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.56rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1.31em;
    }

    .wrapper i {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }

    .wrapper i:first-child {
        left: -25px;
    }

    .wrapper i:last-child {
        right: -25px;
    }

    .contact-title.hidden {
        top: 8%;
        font-size: 7em;
    }

    .contact-container.hidden {
        top: 65%;
        left: 28%;
        font-size: 2em;
    }
    
    .gmail.hidden {
        top: 55%;
        left: 39%;
        font-size: 2em;
    }
    
    .contact-list.hidden {
        gap: 4em;
    }
}

@media screen and (max-width: 1024px) {
    .scroll-btn {
        left: 10%;
    }

    .down {
        width: 30px;
        height: 30px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .brand.hidden {
        top: 15%;
        left: -27%;
    }

    .socials.hidden {
        font-size: 2em;
        top: 83%;
        left: 92%;
    }

    .social-list.hidden {
        gap: 2em;
        font-size: 1.5em;
        top: 48%;
        left: 87%;
    }

    .planet1 {
        width: 45em;
        height: 45em;
        top: 60%;
        left: 15%;
    }

    .planet2 {
        width: 45em;
        height: 45em;
        top: 30%;
        left: 60%;
    }

    .planet3 {
        width: 30em;
        height: 30em;
        top: 45%;
        left: -10%;
    }

    .black-hole {
        width: 55em;
        height: 55em;
        top: -90%;
        left: 6%;
    }

    .planet1::before {
        width: 45em;
        height: 45em;
    }

    .planet2::before {
        width: 45em;
        height: 45em;
    }

    .planet3::before {
        width: 30em;
        height: 30em;
    }

    .black-hole::before {
        width: 55em;
        height: 55em;
    }

    .menu-bar.hidden {
        top: 8.5%;
        left: 92%;
    }
    
    .bar.hidden {
        width: 30px;
        height: 5px;
    }

    .nav.hidden {
        top: 2%;
    }

    .nav-list.hidden {
        top: -80%;
        left: -7%;
        font-size: 1em;
        gap: 10em;
    }
            
    .name.hidden {
        font-size: 7em;
        top: 10%;
        left: 15%;
    }

    .portfolio.hidden {
        font-size: 5em;
        top: 30%;
        left: 38%;
    }

    .status.hidden {
        font-size: 1.2em;
        top: 40%;
        left: 29%;
    }

    .student.hidden {
        font-size: 1.2em;
        top: 40%;
        left: 40%;
    }

    .who-wrapper.hidden {
        left: -100vh;
        top: 25%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 3.125em;
        font-weight: 600;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 3px;
    }

    .about-wrapper.hidden {
        left: -117vh;
        top: 45%;
        width: 800px;
    }
    
    .about-wrapper .text {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 1px;
    }

    .project-title.hidden {
        top: 10%;
        left: -39vh;
        font-size: 4em;
    }

    .wrapper.hidden {
        top: 22%;
        left: 13%;
        padding: 5px 25px;
        width: 70%;
        height: 55%;
        border-radius: 14px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: calc((100% / 3) - 12px);
        gap: 22px;
    }

    .carousel .card {
        padding-bottom: 14px;
    }

    .card .img img {
        width: 100%;
        height: 37vh;
        border-radius: 14px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.5rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1.2em;
    }

    .wrapper i {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }

    .wrapper i:first-child {
        left: -25px;
    }

    .wrapper i:last-child {
        right: -25px;
    }

    .contact-title.hidden {
        top: 10%;
        font-size: 6em;
    }

    .contact-container.hidden {
        top: 65%;
        left: 28%;
        font-size: 2em;
    }
    
    .gmail.hidden {
        top: 55%;
        left: 37%;
        font-size: 2em;
    }
    
    .contact-list.hidden {
        gap: 3em;
    }
}

@media screen and (max-width: 768px) {
    .scroll-btn {
        left: 10%;
    }

    .down {
        width: 30px;
        height: 30px;
    }

    .brand.hidden {
        top: 5%;
        left: -27%;
        font-size: 1.3em;
    }

    .socials.hidden {
        font-size: 1.8em;
        top: 83%;
        left: 91%;
    }

    .social-list.hidden {
        gap: 2em;
        font-size: 1.4em;
        top: 50%;
        left: 84.5%;
    }

    .planet1 {
        width: 40em;
        height: 40em;
        top: 60%;
        left: 8%;
    }

    .planet2 {
        width: 45em;
        height: 45em;
        top: 40%;
        left: 50%;
    }

    .planet3 {
        width: 30em;
        height: 30em;
        top: 45%;
        left: -10%;
    }

    .black-hole {
        width: 50em;
        height: 50em;
        top: -70%;
        left: -2%;
    }

    .planet1::before {
        width: 40em;
        height: 40em;
    }

    .planet2::before {
        width: 45em;
        height: 45em;
    }

    .planet3::before {
        width: 30em;
        height: 30em;
    }

    .black-hole::before {
        width: 50em;
        height: 50em;
    }

    .menu-bar.hidden {
        top: 8.5%;
        left: 90%;
    }
    
    .bar.hidden {
        width: 30px;
        height: 5px;
    }

    .nav.hidden {
        top: 3%;
    }

    .nav-list.hidden {
        top: -70%;
        left: -15%;
        font-size: 0.8em;
        gap: 10em;
    }
            
    .name.hidden {
        font-size: 6em;
        top: 15%;
        left: 10%;
    }

    .portfolio.hidden {
        font-size: 4.5em;
        top: 33%;
        left: 28%;
    }

    .status.hidden {
        font-size: 1em;
        top: 42%;
        left: 25%;
    }

    .student.hidden {
        font-size: 1em;
        top: 42%;
        left: 37%;
    }

    .who-wrapper.hidden {
        left: -100vh;
        top: 25%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 3px;
    }

    .about-wrapper.hidden {
        left: -117vh;
        top: 40%;
        width: 800px;
    }
    
    .about-wrapper .text {
        font-size: 2.2em;
        font-weight: 600;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 1px;
    }

    .project-title.hidden {
        top: 10%;
        left: -40vh;
        font-size: 4em;
    }

    .wrapper.hidden {
        top: 23%;
        left: 12%;
        padding: 5px 25px;
        width: 70%;
        height: 50%;
        border-radius: 14px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: calc((100% / 2) - 12px);
        gap: 18px;
    }

    .carousel .card {
        padding-bottom: 14px;
    }

    .card .img img {
        width: 31vw;
        height: 33vh;
        border-radius: 14px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.5rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1.2em;
    }

    .wrapper i {
        height: 42px;
        width: 42px;
        line-height: 45px;
    }

    .wrapper i:first-child {
        left: -25px;
    }

    .wrapper i:last-child {
        right: -25px;
    }

    .contact-title.hidden {
        top: 20%;
        font-size: 5em;
    }

    .contact-container.hidden {
        top: 65%;
        left: 25%;
        font-size: 1.7em;
    }
    
    .gmail.hidden {
        top: 55%;
        left: 27%;
        font-size: 2.5em;
    }
    
    .contact-list.hidden {
        gap: 2.5em;
    }
}

@media screen and (max-width: 640px) {
    .down {
        width: 30px;
        height: 30px;
    }

    .brand.hidden {
        top: 5%;
        left: -27%;
        font-size: 1.5em;
    }

    .socials.hidden {
        opacity: 0;
    }

    .social-list.hidden {
        opacity: 0;
    }

    .planet1 {
        width: 40em;
        height: 40em;
        top: 60%;
        left: 0;
    }

    .planet2 {
        width: 40em;
        height: 40em;
        top: 45%;
        left: 55%;
    }

    .planet3 {
        width: 30em;
        height: 30em;
        top: 45%;
        left: -10%;
    }

    .black-hole {
        width: 45em;
        height: 45em;
        top: -60%;
        left: -5%;
    }

    .planet1::before {
        width: 40em;
        height: 40em;
    }

    .planet2::before {
        width: 40em;
        height: 40em;
    }

    .planet3::before {
        width: 30em;
        height: 30em;
    }

    .black-hole::before {
        width: 45em;
        height: 45em;
    }

    .menu-bar.hidden {
       opacity: 0;
    }

    .nav-list.hidden {
        opacity: 0;
     }
            
    .name.hidden {
        font-size: 5.5em;
        top: 12%;
        left: 10%;
    }

    .portfolio.hidden {
        font-size: 4em;
        top: 30%;
        left: 28%;
    }

    .status.hidden {
        font-size: 1em;
        top: 36.5%;
        left: 25%;
    }

    .student.hidden {
        font-size: 1em;
        top: 36.5%;
        left: 40%;
    }

    .who-wrapper.hidden {
        left: -100vh;
        top: 25%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 3px;
    }

    .about-wrapper.hidden {
        left: -117vh;
        top: 40%;
        width: 800px;
    }
    
    .about-wrapper .text {
        font-size: 2.2em;
        font-weight: 600;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 1px;
    }

    .project-title.hidden {
        top: 10%;
        left: -28vh;
        font-size: 3em;
    }

    .wrapper.hidden {
        top: 22%;
        left: 10%;
        padding: 5px 25px;
        max-width: 1000px;
        width: 70%;
        height: 50%;
        border-radius: 12px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: calc((100% / 2) - 9px);
        gap: 18px;
    }

    .carousel .card {
        padding-bottom: 12px;
    }

    .card .img img {
        width: 100%;
        height: 33vh;
        border-radius: 12px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.3rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1em;
    }

    .wrapper i {
        height: 42px;
        width: 42px;
        line-height: 45px;
    }

    .wrapper i:first-child {
        left: -25px;
    }

    .wrapper i:last-child {
        right: -25px;
    }

    .contact-title.hidden {
        top: 20%;
        font-size: 4.5em;
    }

    .contact-container.hidden {
        top: 65%;
        left: 23%;
        font-size: 1.5em;
    }
    
    .gmail.hidden {
        top: 55%;
        left: 25%;
        font-size: 2.2em;
    }
    
    .contact-list.hidden {
        gap: 2.5em;
    }
}

@media screen and (max-width: 475px) {
    .scroll-btn {
        top: 80%;
        left: 15%;
    }

    .down {
        width: 25px;
        height: 25px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .brand.hidden {
        top: -5%;
        left: -25%;
        font-size: 1.5em;
    }

    .socials.hidden {
        opacity: 0;
    }

    .social-list.hidden {
        opacity: 0;
    }

    .menu-bar.hidden {
        opacity: 0;
    }

    .nav-list.hidden {
        opacity:0;
    }

    .planet1 {
        width: 35em;
        height: 35em;
        top: 55%;
        left: -10%;
    }

    .planet2 {
        width: 35em;
        height: 35em;
        top: 40%;
        left: 50%;
    }

    .planet3 {
        width: 30em;
        height: 30em;
        top: 55%;
        left: -50%;
    }

    .black-hole {
        width: 40em;
        height: 40em;
        top: -60%;
        left: -20%;
    }

    .planet1::before {
        width: 35em;
        height: 35em;
    }

    .planet2::before {
        width: 35em;
        height: 35em;
    }

    .planet3::before {
        width: 30em;
        height: 30em;
    }

    .black-hole::before {
        width: 40em;
        height: 40em;
    }
        
    .name.hidden {
        font-size: 5em;
        top: 13%;
        left: 10%;
    }

    .portfolio.hidden {
        font-size: 3em;
        top: 33%;
        left: 33%;
    }

    .status.hidden {
        font-size: 1em;
        top: 35%;
        left: 20%;
    }

    .student.hidden {
        font-size: 1em;
        top: 35%;
        left: 40%;
    }

    .who-wrapper.hidden {
        left: -110vh;
        top: 25%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 2em;
        font-weight: 600;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 3px;
    }

    .about-wrapper.hidden {
        left: -120vh;
        top: 40%;
        width: 800px;
    }
    
    .about-wrapper .text {
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 1px;
    }

    .project-title.hidden {
        top: 10%;
        left: -28vh;
        font-size: 3em;
    }

    .wrapper.hidden {
        top: 22%;
        left: 10%;
        padding: 5px 25px;
        max-width: 1000px;
        width: 70%;
        height: 50%;
        border-radius: 12px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: calc((100% / 2) - 9px);
        gap: 18px;
    }

    .carousel .card {
        padding-bottom: 12px;
    }

    .card .img img {
        width: 100%;
        height: 33vh;
        border-radius: 12px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.3rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1em;
    }

    .wrapper i {
        height: 42px;
        width: 42px;
        line-height: 42px;
    }

    .wrapper i:first-child {
        left: -25px;
    }

    .wrapper i:last-child {
        right: -25px;
    }

    .contact-title.hidden {
        top: 25%;
        font-size: 3em;
    }
    
    .contact-container.hidden {
        top: 55%;
        left: 20%;
        font-size: 1.5em;
    }
    
    .gmail.hidden {
        top: 50%;
        left: 25%;
        font-size: 1.8em;
    }
    
    .contact-list.hidden {
        gap: 2em;
    }
}

@media screen and (max-width: 321px) {
    .brand.hidden {
        left: -25%;
        top: 5%;
    }

    .socials.hidden {
        opacity: 0;
    }

    .socials-list.hidden {
        opacity: 0;
    }

    .social-list.hidden {
        top: 53%;
        left: 69%;
        font-size: 1.3em;
    }

    .menu-bar.hidden {
        opacity: 0;
    }

    .planet1 {
        width: 35em;
        height: 35em;
        top: 55%;
        left: -30%;
    }

    .planet2 {
        width: 30em;
        height: 30em;
        top: 55%;
        left: 30%;
    }

    .planet3 {
        width: 20em;
        height: 20em;
        top: 65%;
        left: -45%;
    }

    .black-hole {
        width: 30em;
        height: 30em;
        top: -40%;
        left: -20%;
    }

    .planet1::before {
        width: 35em;
        height: 35em;
    }

    .planet2::before {
        width: 30em;
        height: 30em;
    }

    .planet3::before {
        width: 20em;
        height: 20em;
    }

    .black-hole::before {
        width: 30em;
        height: 30em;
    }
        
    .name.hidden {
        font-size: 3.5em;
        top: 18%;
        left: 10%;
    }

    .portfolio.hidden {
        font-size: 2.5em;
        top: 36%;
        left: 23%;
    }

    .status.hidden {
        font-size: 1em;
        top: 32%;
        left: 10%;
    }

    .student.hidden {
        font-size: 1em;
        top: 36%;
        left: 25%;
    }

    .who-wrapper.hidden {
        left: -120vh;
        top: 30%;
        width: 800px;
    }
    
    .who-wrapper .text {
        font-size: 1.8em;
        font-weight: 400;
    }
    
    .who-wrapper .text.text2 {
        margin-left: 3px;
    }

    .about-wrapper.hidden {
        left: -120vh;
        top: 45%;
        width: 800px;
    }
    
    .about-wrapper .text {
        font-size: 1.2em;
        font-weight: 400;
    }
    
    .about-wrapper .text.text4 {
        margin-left: 1px;
    }
    
    .project-title.hidden {
        top: 18%;
        left: -17vh;
        font-size: 2em;
    }

    .wrapper.hidden {
        top: 22%;
        left: 15%;
        padding: 5px 25px;
        max-width: 1000px;
        width: 60%;
        height: 50%;
        border-radius: 10px;
    }

    .wrapper .carousel {
        height: 90%;
        grid-auto-columns: 100%;
        gap: 25px;
    }

    .carousel .card {
        padding-bottom: 10px;
    }

    .card .img img {
        width: 100%;
        height: 33vh;
        border-radius: 10px;
    }

    .card h2 {
        font-weight: 500;
        font-size: 1.3rem;
        margin: 10px 0 2px;
    }

    .card span {
        font-size: 1em;
    }

    .wrapper i {
        height: 35px;
        width: 35px;
        line-height: 36px;
    }

    .wrapper i:first-child {
        left: -20px;
    }

    .wrapper i:last-child {
        right: -20px;
    }

    .contact-title.hidden {
        top: 25%;
        font-size: 2.5em;
    }
    
    .contact-container.hidden {
        top: 55%;
        left: 10%;
        font-size: 1.2em;
    }
    
    .gmail.hidden {
        top: 50%;
        left: 15%;
        font-size: 1.5em;
    }
    
    .contact-list.hidden {
        gap: 1.5em;
    }
}